
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Trang Chủ</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->